{% extends "base.html" %}
{% block content %}
<form action="" method="get">
    {{ form.as_p }}
    <p>
    <button type="submit">Search</button>
    </p>
</form>
{% for post in posts %}
<div class="card" style="width: 18rem; margin-left: 10px;">
    {% if post.image %}
        <img src="{{ post.image.url }}" class="card-img-top" alt="...">
    {% else %}
        <img src="/static/Placeholder-_-Begrippenlijst.svg" class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content }}</p>
        <h6 class="card-title">{{ post.rate }}</h6>
        <a href="/posts/{{post.id}}" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
{% endfor %}
<div style="display: flex; justify-content: center; margin-top: 20px; margin-bottom: 20px;">
    {% for page in pages %}
        <a href="/posts/?page={{ page }}" class="btn btn-primary" style="margin: 0 5px;">
            {{ page }}
        </a>
    {% endfor %}
</div>
{% endblock %}